altgraph==0.17
astroid==2.7.3
isort==5.9.3
lazy-object-proxy==1.6.0
lxml==4.6.3
mccabe==0.6.1
pikepdf==2.16.1
Pillow==8.3.2
platformdirs==2.3.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
toml==0.10.2
wrapt==1.12.1
